.alert {
    position: absolute;
    bottom: 50px;
    /* 입력창 바로 위에 위치 */
    left: 0;
    right: 0;
    z-index: 1000;
    animation: fadeInOut 3s;
}

.alert-top {
    position: absolute;
    top: 0px;
    /* 입력창 바로 위에 위치 */
    left: 0;
    right: 0;
    z-index: 9999;
    animation: fadeInOut 3s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}