.btn {
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    background-color: #575A65;
    transition: background-color 0.2s;
}

.small {
    font-size: 12px;
    padding: 8px 16px;
}

.medium {
    font-size: 16px;
    padding: 10px 20px;
}

.large {
    font-size: 20px;
    padding: 15px 30px;
}

.btn:hover {
    background-color: #535353;
}