.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.btn-group button {
    margin-right: 18px;

}