.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  background-color: #2D2D2D;
  padding: 20px;
  z-index: 4;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalHeader {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.head {
  padding-left: 125px;
}

.modalContent {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin: 10px;
  width: fit-content;
  align-items: center;
}

.input {
  width: 100%;
  height: 2.875rem;
  padding: 0.5rem 2.5rem 0.5rem 0.875rem;
  margin: 8px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.75rem;
}

.modalActions {
  text-align: right;
}

.customBtn {
  align-items: center;
  appearance: button;
  background-color: #575a65;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin-top: 20px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 220px;
  padding-left: 82px;
  margin-left: 12px;
}

.customBtn:active {
  background-color: #a3a8b9;
}

.customBtn:hover {
  background-color: #a3a8b9;
}