.title-box {
    display: flex;
    align-items: center;
}

.title {
    font-size: 18px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    grid-gap: 8px;
}

.test-problem {
    border: 1px solid black;
    height: 70vh;
    flex: 0.7;
}

.room-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.room-settings {
    border: 1px solid black;
    margin-top: 10px;
    flex: 0.4
}

.chat {
    border: 1px solid black;
    flex: 0.5;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}