.titleBox {
    display: flex;
    align-items: center;
}

.title {
    font-size: 18px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    grid-gap: 8px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 70vh;
    height: 70vh;
}

/* .leftBody {
    border: 1px solid white;
/* .leftBody {
    border: 1px solid white;
    flex: 0.7;
    min-width: 400px;
    min-height: 63vh;
} */

.leftBody {
    border: 1px solid white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    overflow-y: scroll;
}

.problem {
    margin-bottom: 20px;
    padding: 10px;
}

.description {
    margin-top: 10px;
}

.description h4 {
    margin-bottom: 5px;
}

.leftFooter {
    height: 60px; /* 원하는 높이로 설정 */
    display: flex;
    justify-content: start;
    align-items: center;
}

.center {
    flex: 1;
    width: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
}

.centerBody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.centerFooter {
    height: 60px; /* 원하는 높이로 설정 */
    display: flex;
    justify-content: end;
    align-items: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 70vh;
}

.rightBody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
  
.rightFooter {
    height: 60px; /* 원하는 높이로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border: 1px solid white;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
}

.roomSettings {
    border: 1px solid black;
    margin-top: 10px;
    flex: 0.4
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}