.title {
    font-size: 18px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    grid-gap: 8px;
}

.test-problem {
    border: 1px solid black;
    height: 70vh;
    flex: 1;
}

.room-info {
    flex: 1
}

.user-list {
    height: 70%;
    border: 1px solid black;
}

.room-settings {
    border: 1px solid black;
    height: 28%;
    margin-top: 10px;
}

.chat {
    border: 1px solid black;
    flex: 0.5;
}

.button {
    padding: 10px 20px;
    background-color: #313131;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #282828;
}