.container {
    border: 1px solid white;
    border-radius: 14px;
    padding: 12px;
    width: 100%;
    height: fit-content;
}

.dot-box {
    display: flex;
    justify-content: flex-end;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #ff2323;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.var-type-color {
    color: #569CD6;
}

.var-name-color {
    color: #3F8AB3;
}

.var-data-color {
    color: #CE9178;
}

.select {
    background-color: #1a1a1a;
    color: #CE9178;
    border: 1px solid #393939;
    cursor: pointer;
}