.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid rgb(127, 127, 127);
    color: white;
    height: 38px;
    width: 245px;
    padding-left: 10px;

}

.input::-webkit-input-placeholder {
    color: #bbbbbb;
}

.alert {
    position: absolute;
    bottom: 50px;
    /* 입력창 바로 위에 위치 */
    left: 0;
    right: 0;
    z-index: 1000;
    animation: fadeInOut 3s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}