.chat {
    display: block;
    flex: 0.5;
}

.chat-hide {
    display: none;
}

.hide-button {
    border: 0;
    background-color: transparent;
    position: fixed;
    color: white;
    font-size: 16px;
}