.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    height: 48px;
    width: 100;
}