.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    gap: 8px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.titleBox {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
    align-items: center;
    font-size: 30px;
    font-weight: bold;

}

.timerBox {
    padding-top: 7px;
    display: flex;
    font-size: x-large;
}

.title {
    font-size: 30px;
    padding: 10px;
}

.leftSide,
.center,
.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

.leftSide {
    flex: 1;
    /* 너비를 자동으로 조정 */
}

.center {
    flex: 2;
    /* 너비를 자동으로 조정 */
}

.rightSide {
    width: 250px;
    /* 채팅창 역할을 할 수 있을 정도로 넓이 설정 */
}

.hideRight {
    width: 20px;
}

.leftBody,
.centerBody,
.rightBody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid #3c3c3c;
    overflow-y: auto;
}

.rightBody {
    background-color: #313131;
}

.leftFooter,
.centerFooter,
.rightFooter {
    height: 60px;
    display: flex;
    align-items: end;
    margin-top: 10px;
    border: 2px solid #3c3c3c;
}


.leftFooter {
    justify-content: start;
}

.centerFooter {
    justify-content: end;
}

.rightFooter {
    justify-content: center;
}

.problem {
    margin-bottom: 20px;
    padding: 10px;
}

.description {
    margin-top: 10px;
}

.description h4 {
    margin-bottom: 5px;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.roomSettings {
    border: 1px solid black;
    margin-top: 10px;
    flex: 0.4
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}